.BuildControls {
    width: 100%;
    background-color: #ff8100;
    display: flex;
    align-items: center;
    flex-flow: column;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}